@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {margin: 0; font: 20px/1.3em 'Lato'; color: #666;}
a {color: #249EC3; text-decoration: none;}
.button {border-radius: 4px; text-align: center; font: 300 26px/1.3em 'Lato'; padding: 8px 0; width: 42%;}
.small-2nd {border: 1px solid #b3b3b3; color: #249EC3; margin: 0 10px 0 20px;}
.small {border: 1px solid #249EC3; background: #249EC3; color: #fff; margin: 0 20px 0 0;}
.left {float: left;}
.right {float: right;}
.center {text-align: center;}
.font-small {font-size: 16px;}
.divider {background: url("https://dl.dropboxusercontent.com/u/9301868/img/ob/bg-hr.png") repeat-x; width: 100%; text-align: center; margin: 20px 0; font-weight: 300;}
.divider span {background: #fff; padding: 0 4px;}
.facebook {width: 100%;}

@media all and (max-width:600px) and (min-width:220px) {
  header {width: 90%; margin: 80px auto 30px auto; text-align: center; background: pink; float: left;}
  ul {width: 90%; margin: 0 auto 30px auto;}
  li {margin: 0 0 16px 0;}
  .sign-in-up {margin: 0 auto; width: 100%;}
  .fb {margin: 0 8px -8px 0;}
}